<!--Footer -->
<div id="Footer" class="Container" style="background-color:darkblue;">
    <div class="Container row">
        <div class="col-3 mt-3 mb-3 ThongTin"> 
            <ul>
                <li><h3 class="Title-Footer">Thông Tin 5SHOP</h3></li>
                <li> Liên hệ: 5SHOP - Công ty linh kiện điện tử <br />https://www.facebook.com/5SHOP.com</li>
                <li> Địa chỉ: 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, Tp.HCM. </li>
                <li>ĐT: (028).38161673 (ext 136) Mail: 5shop@gmail.com</li>
            </ul>
        </div>
        <div class="col-3 mt-3 mb-3 SanPham">
            <ul>
                <li class="list-group-item">
                    <h3 class="Title-Footer"><a href="#">Trung tâm trợ giúp</a></h3>
                </li>
                <li><a href="https://www.facebook.com/Thegioiic">Cộng đồng hỗ trợ - Facebook</a></li>
                <li><a href="tel:19001919">Hỗ trợ trực tiếp - 19001919</a></li>
                <li><a href="https://www.youtube.com/user/Thegioiic">Chat nhanh - Message</a></li>

            </ul>
        </div>
        <div class="col-3 mt-3 mb-3 GocTin">
            
            <ul>
                <li><h3 class="Title-Footer">Thông tin chúng tôi</h3></li>
                <li><a href="#">Blog - Giới thiệu 5SHOP</a></li>
                <li><a href="#">Tin tức linh kiện</a></li>
                <li><a href="#">Bảo hành</a></li>
            </ul>
        </div>
        <div class="col-3 mt-3 mb-3 Media">
           
            <ul>
                <li><h3 class="Title-Footer" id="Product-Name">Cộng Đồng 5SHOP</h3></li>
                <li><div class="space"></div><span size="16" color="#485992" class="iconfacebook"></span> 5ShopLinhKien</li>
                <li><span size="16" color="#485992" class="iconzalo"></span> 5ShopLinhKienZalo</li>
                <li><span size="16" color="#485992" class="iconyoutube"></span> 5ShopLinhKienYoutube</li>
            </ul>
        </div>
    </div>
</div>
<!-- FooterBottom -->
<div id="Footer-bottom" class="Container Footer-bottom" style="background-color:black">
    <div class="col mt-2 text-light" style="text-align:center;">
        &copy; 5SHOP<br />
        140/Lê Trọng Tấn,Tây Thạnh, Tân Phú,HCM<br />
        (012)3456789 &ensp;5shop@gmail.com
    </div>
</div>