
@{
    ViewBag.Title = "DaNhanHang";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2 class="text-center">ĐÃ NHẬN KHÔNG THÀNH CÔNG</h2>
<h2 class="text-center">QUAY LẠI  <a href="@Url.Action("DonHang","Cart")" class="btn btn-warning">ĐƠN HÀNG CỦA BẠN</a></h2>

<div style="margin:auto; text-align:center;">
    <img src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-red-shopping-cart-icon-png-free-illustration-image_1187825.jpg" height="200px" />
</div>