
@{
    ViewBag.Title = "HetHang";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

    <h2 class="text-center">ỐI</h2>
    <h2 class="text-center">SẢN PHẨM BẠN CHỌN ĐÃ HẾT</h2>
    <h2 class="text-center">QUAY LẠI <a href="@Url.Action("ShowAllProduct","Product")" class="btn btn-warning">TRANG SẢN PHẨM</a> MUA TIẾP BẠN NHÉ !!!</h2>

    <div style="margin:auto; text-align:center;">
        <img src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-red-shopping-cart-icon-png-free-illustration-image_1187825.jpg" height="200px" />
    </div>
