
@{
    ViewBag.Title = "ThemGioHang";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<h2 class="text-center">KHÔNG THỂ THÊM GIỎ HÀNG</h2>
<h2 class="text-center">VUI LÒNG <a href="@Url.Action("DangNhap","User")" class="btn btn-warning">ĐĂNG NHẬP</a></h2>

<div style="margin:auto; text-align:center;">
    <img src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-red-shopping-cart-icon-png-free-illustration-image_1187825.jpg" height="200px" />
</div>