
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<section class="about">
    <h1 class="text-center">Thông Tin Về Chúng Tôi</h1>
    <div class="about-info">
        <div class="about-img p-5" style=" display:flex; margin:0 auto">
            <img src="~/Assets/images-20231202T165613Z-001/images/logo.jpg" alt="4SHOP" height="200px" style="display:block; margin:0 auto;">
        </div>
        <div>
            <p>
                4SHOP là một nhà cung cấp linh kiện điện tử cho khách hàng sỉ,lẻ cho các khách hàng hoặc những cửa hàng muốn có một nguồn
                sản phẩm chất lượng và uy tín. Với tiêu chí đưa lợi ích khách hàng lên hàng đầu thì 4SHOP đang là điểm đến đáng tin cậy của các
                khách hàng

            </p>
            <!-- <button>Read More...</button> -->
        </div>
    </div>
</section>

<section class="team1">
    <h1> Liên Hệ Với Chúng Tôi</h1>
    <div class="team-cards1">
        <!-- Cards here -->
        <!-- Card 1 -->
        <div class="card1">
            <div class="card-img1">
                <img src="~/Assets/images-20231202T165613Z-001/images/Hop.png" alt="User 1">
            </div>
            <div class="card-info1">
                <h2 class="card-name"> Xuân Hợp</h2>
                <p class="card-role">CEO and Founder</p>
                <p class="card-email">xuanhop2310@gmail.com</p>
                <p><button class="button1"><a href="https://www.facebook.com/hop.xuan.23102003">Contact</a></button></p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card1">
            <div class="card-img1">
                <img src="~/Assets/images-20231202T165613Z-001/images/Bao.png" alt="User 2">

            </div>
            <div class="card-info1">
                <h2 class="card-name1"> Quốc Bảo</h2>
                <p class="card-role1">CEO and Founder</p>
                <p class="card-email1">buiquocbao@gmail.com</p>
                <p> <a href=""></a> <button class="button1"><a href="https://www.facebook.com/baobaoshop790">Contact</a></button></p>

            </div>


        </div>
        <!-- Card 3 -->
        <div class="card1">
            <div class="card-img1">
                <img src="~/Assets/images-20231202T165613Z-001/images/khang.png" alt="User 3">
            </div>
            <div class="card-info1">
                <h2 class="card-name1"> Tuấn Khang</h2>
                <p class="card-role1">CEO and Founder</p>
                <p class="card-email1">huynhtuankhang@gmail.com</p>
                <p><button class="button1"><a href="https://www.facebook.com/huynh.khang.1694">Contact</a></button></p>
            </div>
        </div>
        <div class="card1">
            <div class="card-img1">
                <img src="~/Assets/images-20231202T165613Z-001/images/minh.png" alt="User 3">
            </div>
            <div class="card-info1">
                <h2 class="card-name1"> Quang Minh</h2>
                <p class="card-role1">CEO and Founder</p>
                <p class="card-email1">lenguyenquangminh@gmail.com</p>
                <p><button class="button1"><a href="https://www.facebook.com/nguyenquangminh.le.165">Contact</a></button></p>
            </div>
        </div>
        </div>
</section>