
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!--------------------------------------
Main
--------------------------------------->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <h5 class="font-weight-bold spanborder"><span>Tin tức nổi bật</span></h5>
            <div class="card border-0 mb-5 box-shadow">
                <div style="background-image: url(/Assets/Images/logo.jpg); height: 350px; background-size: cover; background-repeat: no-repeat;">
                </div>
                <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                    <h2 class="h2 font-weight-bold">
                        <a class="text-dark" href="https://doanhnghiephoinhap.vn/can-lien-ket-de-phat-trien-doanh-nghiep-dien-tu.html">Việt Nam chi 50 tỷ USD nhập khẩu máy vi tính,sản phẩm điện tử và linh kiện</a>
                    </h2>
                    <p class="card-text">
                        Máy vi tính, sản phẩm điện tử và linh kiện là nhóm hàng xuất nhập khẩu có quy mô kim ngạch lớn nhất cả nước.
                        Tính chung 7 tháng đầu năm, kim ngạch nhóm hàng trên đạt hơn 50,1 tỷ USD, tăng mạnh 25,2% so với cùng kỳ năm ngoái và chiếm đến 23,13
                        tổng kim ngạch nhập khẩu cả nước.
                    </p>
                    <div>
                        <!-- <small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small> -->
                        <small class="text-muted">10/08 · 17:31</small>
                    </div>
                </div>
            </div>
            <h5 class="font-weight-bold spanborder"><span>Tin Vắn</span></h5>
            <div class="mb-3 d-flex justify-content-between">
                <div class="pr-3">
                    <h2 class="mb-1 h4 font-weight-bold">
                        <a class="text-dark" href="https://doanhnghiephoinhap.vn/cac-lo-hang-dien-thoai-thong-minh-trung-quoc-giam-xuong-muc-thap-nhat-trong-vong-10-nam.html">Các lô hàng điện thoại thông minh Trung Quốc giảm xuống mức thấp nhất trong vòng 10 năm </a>
                    </h2>
                    <p>
                        Các lô hàng điện thoại thông minh ở Trung Quốc năm nay đang trên đà giảm xuống mức thấp nhất trong một thập kỷ khi thị trường bão hòa.
                    </p>
                    <div class="card-text text-muted small">

                    </div>
                    <small class="text-muted">03/08 · 17:05 </small>
                </div>
                <img height="150" style="width: 200px;" src="~/Assets/img-20231202T171250Z-001/img/anh2.jpeg">

            </div>
            <div class="mb-3 d-flex justify-content-between">
                <div class="pr-3">
                    <h2 class="mb-1 h4 font-weight-bold">
                        <a class="text-dark" href="https://doanhnghiephoinhap.vn/can-lien-ket-de-phat-trien-doanh-nghiep-dien-tu.html">Cần liên kết để phát triển doanh nghiệp điện tử</a>
                    </h2>
                    <p>
                        Trong số các doanh nghiệp điện tử có tới khoảng 95% giá trị thuộc khối doanh nghiệp có vốn đầu tư nước ngoài. Do đó, các doanh nghiệp điện tử cần chú trọng hơn tới việc xác định các sản phẩm cốt lõi, có sức đột phá để thúc đẩy ngành điện tử phát triển nhanh và hiệu quả hơn nữa.
                    </p>
                    <div class="card-text text-muted small">

                    </div>
                    <small class="text-muted">16/04 · 14:16</small>
                </div>
                <img height="150" style="width: 260px;" src="~/Assets/img-20231202T171250Z-001/img/anh3.jpg">

            </div>
            <div class="mb-3 d-flex justify-content-between">
                <div class="pr-3">
                    <h2 class="mb-1 h4 font-weight-bold">
                        <a class="text-dark" href="https://thanhnien.vn/ro-tin-trung-quoc-cam-xuat-khau-thiet-bi-vi-xu-ly-cap-do-quan-doi-1851532156.htm">Rộ tin Trung Quốc cấm xuất thiết bị vi xử lý cấp độ quân đội  </a>
                    </h2>
                    <p>
                        Các nguồn thạo tin cho hay Trung Quốc đã cấm xuất khẩu những thiết bị vi xử lý cấp độ quân đội do công ty Loongson (Long Tâm) sản xuất, không nhắm cụ thể đến nước nào nhưng giới phân tích cho rằng sẽ ảnh hưởng đến chiến dịch quân sự của Nga ở Ukraine.
                    </p>
                    <div class="card-text text-muted small">

                    </div>
                    <small class="text-muted">19/10 · 13:39</small>
                </div>
                <img height="150" style="width: 200px;" src="~/Assets/img-20231202T171250Z-001/img/anh4.jpg">
            </div>
        </div>
        <div class="col-md-4 pl-4">
            <div class="sticky-top">
                <h5 class="font-weight-bold spanborder"><span>Tin tức về xã hội</span></h5>
                <ol class="list-featured">
                    <li>
                        <span>
                            <h6 class="font-weight-bold">
                                <a href="https://tienphong.vn/bat-ong-chu-chuoi-cua-hang-linh-kien-dien-thoai-thu-giu-lo-hang-lau-tri-gia-10-ty-dong-post1585566.tpo" class="text-dark">Bắt ông chủ chuỗi cửa hàng linh kiện điện thoại, thu giữ lô hàng lậu trị giá 10 tỷ đồng</a>
                            </h6>
                            <p class="text-muted">

                            </p>
                        </span>
                    </li>
                    <li>
                        <span>
                            <h6 class="font-weight-bold">
                                <a href="https://xaydungchinhsach.chinhphu.vn/nghi-dinh-44-2023-nd-cp-nhung-hang-hoa-dich-vu-cntt-khong-duoc-giam-thue-gia-tri-gia-tang-119230630193424825.htm" class="text-dark">Danh mục hàng hóa, dịch vụ công nghệ không được giảm thuế giá trị gia tăng theo Nghị định 44/2023/NĐ-CP</a>
                            </h6>
                            <p class="text-muted">

                            </p>
                        </span>
                    </li>
                    <li>
                        <span>
                            <h6 class="font-weight-bold">
                                <a href="https://www.qdnd.vn/xa-hoi/tin-tuc/kip-thoi-dap-tat-vu-chay-cua-hang-ban-linh-kien-dien-tu-o-duong-ly-nam-de-hoan-kiem-ha-noi-742568" class="text-dark">Kịp thời dập tắt vụ cháy cửa hàng bán linh kiện điện tử ở đường Lý Nam Đế, Hoàn Kiếm, Hà Nội</a>
                            </h6>
                            <p class="text-muted">

                            </p>
                        </span>
                    </li>
                    <li>
                        <span>
                            <h6 class="font-weight-bold">
                                <a href="https://vietq.vn/phu-kien-dien-thoai-khong-ro-nguon-goc-xuat-xu-nhan-hang-hoa-d215800.html" class="text-dark">Nhiều cửa hàng kinh doanh phụ kiện điện thoại nhập lậu, không nhãn mác</a>
                            </h6>
                            <p class="text-muted">

                            </p>
                        </span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
